[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
groq = "*"
pipwin = "*"
sounddevice = "*"
pydub = "*"
speechrecognition = "*"
pyaudio = "*"
gtts = "*"
elevenlabs = "*"
gradio = "==5.34.2"

[dev-packages]

[requires]
python_version = "3.11"
